exsampleflow.json
[{"id":"e46d7ecb85cd42ee","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"da815a6ed7866c07","type":"compressor","z":"e46d7ecb85cd42ee","name":"compressor","minutes":"0.1","sync":true,"minmax":false,"topic":"Temperature","x":490,"y":100,"wires":[[],["ce9c2779951bf619"]]},{"id":"ce9c2779951bf619","type":"debug","z":"e46d7ecb85cd42ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":100,"wires":[]},{"id":"3e17050f7ee9ae1d","type":"random","z":"e46d7ecb85cd42ee","name":"random","low":1,"high":"100","inte":"false","property":"payload","x":300,"y":100,"wires":[["da815a6ed7866c07"]]},{"id":"e454103ffcd82ca8","type":"inject","z":"e46d7ecb85cd42ee","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["3e17050f7ee9ae1d"]]}]
